body
	background: #FFF
	+css-lock(16, 50, 600, 1000)
	line-height: 1.4

=default-font($deffont)
  font-family: 'Lato', sans-serif
  font-size: $deffont
  
=background-color
  background-color: #f7f7f7
  
=accent-color
  background-color: #64c29e
  
.hover-opacity:hover
  opacity: 0.6
  
h2
  @include default-font(18px)
  color: rgb(53, 55, 56)
  font-weight: bold
  text-transform: uppercase
  line-height: 1.2
  text-align: center
  letter-spacing: 3px
  margin-bottom: 20px
  
  


