footer
  display: flex
  justify-content: space-between
  @include background-color
  padding: 50px 10%

.footer__contacts, .footer__contacts a   
  text-decoration: none
  @include default-font(16px)
  color: rgb(132, 135, 137)
  line-height: 1.117
  text-align: left
 
.footer__contacts a:hover
  text-decoration: underline

.footer__contactsname
  font-weight: bold

.footer__socialmedia
  width: 20%

.footer__credits
  @include default-font(14px)
  color: rgb(132, 135, 137)
  font-style: italic
  line-height: 1.286
  text-align: right

.footer__creditslogo
    position: relative
    top: 15px
  
@media (min-width: 700px)  
  footer
    padding: 108px 10%



