footer
  display: flex
  justify-content: space-between
  width: 80%
  margin-left: 10%

.footer__contacts, .footer__contacts a   
  text-decoration: none
  @include default-font(16px)
  color: rgb(132, 135, 137)
  line-height: 1.117
  text-align: left
 
.footer__contacts a:hover
  text-decoration: underline


.footer__contactsname
  font-weight: bold
  

