.widetext
  @include background-color
  padding: 41px 10% 41px  

.widetext p
  @include default-font(18px)
  color: rgb(132, 135, 137)
  line-height: 1.889
  text-align: center

.post-icon
  text-align: center
  margin-bottom: 13px

.bigphoto-row__bigphoto img
  width: 100%

.bigphoto-row
  display: grid
  grid-template-columns: 100%



@media (min-width: 700px) 
 
  .widetext
    padding: 114px 10% 140px 10%
    
  .bigphoto-row
    flex-direction: row
    
  .bigphoto-row
    grid-template-columns: 66.66% 33.33%
    
