<footer>
    <div class="footer__contacts">
        <p class="footer__contactsname">AOD New York</p>
        <p>2250 Lexington Avenue</p>
        <p>New York, NY 100005 - <a href="#">info@domain.com</a></p>
    </div>
    <div class="footer__socialmedia">
        <a href="#"><img class="hover-opacity" src="img/twitter.png" alt="twitter"></a>
        <a href="#"><img class="hover-opacity" src="img/facebook.png" alt="facebook"></a>
        <a href="#"><img class="hover-opacity" src="img/pinterest.png" alt="pinterest"></a>
    </div>
    <div class="footer__credits">
        credits
    </div>
</footer>