<header>    
    
    <img class="header__img" src="img/header_img.png" alt="header img">
    <div class="header__nav">
        <ul>    
            <li><a class="header__navitem header__navdot" href="#" class="is-active">about us</a></li>
            <li><a class="header__navitem" href="#">work</a></li>
            <li class="header__logo"><a class="header__navitem" href="#"><img src="img/logo.png" alt="logo">
            <li><a class="header__navitem header__navdot" href="#">shop</a></li>
            <li><a class="header__navitem" href="#">contact</a></li>
        </ul>
    </div>
    <a class="header__logomob" href="#"><img src="img/logo.png" alt="logo"></a>   
</header>
