<div class="widetext">
    <div class="post-icon"><img src="img/icon-aboutus.png" alt="icon about us"></div>
    <h2>A new generation of vintage bike</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam sequi, ipsa qui id accusamus nemo itaque nam nihil eaque eum iusto, expedita, fuga rem ad at sint voluptatum similique voluptatibus dolorum vitae consequuntur quis animi aliquid iste. Unde maxime, eum.</p>
</div>
<div class="bigphoto-row">
    <div class="bigphoto-row__bigphoto">
        <img src="img/big-oliva.png" alt="big oliva">
    </div>
    <div class="narrowtext">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, perferendis voluptates exercitationem qui tempora, repellendus eos neque accusantium vero veniam ex non!
    </div>
</div>