<div class="widetext">
    <div class="post-icon"><img src="img/icon-aboutus.png" alt="icon about us"></div>
    <h2>A new generation of vintage bike</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam sequi, ipsa qui id accusamus nemo itaque nam nihil eaque eum iusto, expedita, fuga rem ad at sint voluptatum similique voluptatibus dolorum vitae consequuntur quis animi aliquid iste. Unde maxime, eum.</p>
</div>
<div class="bigphoto-row">
    <div class="bigphoto-row__bigphoto">
        <img src="img/big-oliva.png" alt="big oliva">
    </div>
    <div class="narrowtext">
       <div class="narrowtext__text">
           <div class="post-icon"><img src="img/icon-oliva.png" alt="icon oliva"></div>
           <h2>Vintage oliva</h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam sequi, ipsa qui id accusamus nemo itaque nam nihil eaque eum iusto, expedita, fuga rem ad at sint voluptatum similique voluptatibus dolorum vitae consequuntur quis animi aliquid iste. Unde maxime, eum.</p>
        </div>
        <div>   
            <img class="narrowtext__photo" src="img/sm-oliva.png" alt="small oliva">
        </div>
       
    </div>
</div>
<div class="widetext twitter">
    <div class="post-icon"><img src="img/icon-twitter.png" alt="icon twitter"></div>
    <a href="#"><h2>AOD New York @aod <span class="twitter-time">/ 35 min</span></h2></a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque itaque aperiam veritatis, dolorem, fuga neque culpa iste deleniti recusandae a!</p>
</div>
<div class="subscribe">
    <div class="subscribe__logo"><a href="#"><img src="img/logo.png" alt="logo"></a></div>
    <p class="subscribe__motto">Stay on the saddle!</p>
    <form class="subsribe__emailunput">
        <input class="email" type="text" placeholder="enter your e-mail..." name="email">
        <input class="submit" type="submit" value="GO">
    </form>

</div>